Received text is no valid utf8 string

Suppose that it bug in OpcUaServer. An exeption occures during recieve data from the server when history request (GW_HistoryReadRequest) was sent from web client. The bug occurs through time. There are cases, when history request (GW_HistoryReadRequest) came without exeptions one after another. 

Steps to reproduce the behavior:
1. Launch the OpcUaWebServer
2. Launch Web client. Subscribes to several tags and events by GW_CreateMonitoredItemsRequest. All response are valid.
3. Send request to history GW_HistoryReadRequest and recieve next log 

```
16:12:30,017 -> ERROR [WebSocketConnectReadThread-150] 
    java_websocket.WebSocketImpl:decodeFrames:390 - Closing due to invalid data in frame
    org.java_websocket.exceptions.InvalidDataException: Received text is no valid utf8 string!
	at org.java_websocket.framing.TextFrame.isValid(TextFrame.java:48) ~[Java-WebSocket-1.4.0.jar:?]
	at org.java_websocket.drafts.Draft_6455.translateSingleFrame(Draft_6455.java:511) ~[Java-WebSocket-1.4.0.jar:?]
	at org.java_websocket.drafts.Draft_6455.translateFrame(Draft_6455.java:631) ~[Java-WebSocket-1.4.0.jar:?]
	at org.java_websocket.WebSocketImpl.decodeFrames(WebSocketImpl.java:378) [Java-WebSocket-1.4.0.jar:?]
	at org.java_websocket.WebSocketImpl.decode(WebSocketImpl.java:218) [Java-WebSocket-1.4.0.jar:?]
	at org.java_websocket.client.WebSocketClient.run(WebSocketClient.java:425) [Java-WebSocket-1.4.0.jar:?]
	at java.lang.Thread.run(Thread.java:748) [?:1.8.0_211]
16:12:30,022 -> DEBUG [WebSocketConnectReadThread-150] opc.WebSocket:onError:74 - On WebSocket error exception org.java_websocket.exceptions.InvalidDataException: Received text is no valid utf8 string!
16:12:30,024 -> ERROR [WebSocketConnectReadThread-150] opc.OPCClient:lambda$1:148 - Disconnected from server: On WebSocket close code 1007 reason 'Received text is no valid utf8 string!' remote false.
16:12:39,241 -> ERROR [JavaFX Application Thread] opc.OPCClient:readHistoryEvents:470 - Communication error due to await response: nft.dcs.vision.io.CommunicationException: Can`t wait response GW_HistoryReadResponse due to time out: null
16:12:39,242 -> DEBUG [WebSocketConnectReadThread-150] opc.OPCClient:abortConnection:775 - Aborting session 1, websocket and maps will be destroyed``

```
If the OpcUaWebServer send data encoded UTF-8 (by RFC 6455 section 5.6) certainly, our client should handle this exeption (by RFC 6455 section 8.1) and it is not a bug.

 - OS: Windows 7, 10
 - Version OpcUaServer commit 804b9b228eb9527ef308ae36e7f15ff58cfebefd


@Rumpelshtinskiy , thank you for your bug report. There is some lack of information and we must fill the gaps. I'd like to know which string exactly causes the error. For that, I ask you to make these steps: 


1) you should update OpcUaStack from Release4 branch, and OpcUaWebServer from master branch. I can't find 804b9b228eb9527ef308ae36e7f15ff58cfebefd in the git repos, so I suppose you have some local commits.
2) apply this patch: 
[print_ws_data.zip](https://github.com/ASNeG/OpcUaWebServer/files/3761516/print_ws_data.zip)
3) launch the webserver in the console: OpcUaServer4 CONSOLE /path/to/OpcUaServer.xml
4) change your client, so that it stops working with the webserver after error.
5) send me the last message from the console



Ok, we will try it.

@flipback , after repeating your steps and trying to reproduce error I've got the following behavior:
[OpcUaServer.log](https://github.com/ASNeG/OpcUaWebServer/files/3762503/OpcUaServer.log)
[OpcUaServer4_console_outputs.txt](https://github.com/ASNeG/OpcUaWebServer/files/3762504/OpcUaServer4_console_outputs.txt)
And OpcUaServer4.exe was automatically closed with error.

Hi @huebl, @Rumpelshtinskiy, @Phoenixreturn , judging by the logs and the dump, there are two problems:

1) When the embedded OPC UA Client in OpcUAWebServer tried to read the history data, a timeout error happens. The webserver sends a message with the error after that  WebSocket client crashes. I suppose it handles the error in some wrong way. @huebl, can we change the timeout settings of the client in the webserver? 

2) There are some WebSocket errors in Wireshark dumps (after the 944th seconde). The webserver sends WebSocket messages with wrong Opcode. @huebl , can you have look at it? 

[OpcUaServer 10_31_23.344342.log](https://github.com/ASNeG/OpcUaWebServer/files/3782344/OpcUaServer.10_31_23.344342.log)

[WireShark dump](https://www.dropbox.com/s/qxvsnpj0qbhruxs/OpcUAServerWebSocketDump.pcapng.gz?dl=0)




Currently, a fixed value is used for the request timeout. That's wrong. The request header in the Json package must be extended by the Request Timeout field.

I have opened a new issue for this task:
https://github.com/ASNeG/OpcUaWebServer/issues/51

**Note:** If the access time for a history read request increases sharply (> 3 seconds), then the continuous point of the read history request must be used.  The request timeout should not be increased in such a case.

The Wireshark dump can not be accessed publicly.

Guess:
Several packets are sent at the same time (https://github.com/ASNeG/OpcUaWebServer/blob/master/src/OpcUaWebServer/WebSocket/WebSocketServerBase.cpp#L829).

The method async_write is called and the completion is confirmed by the method handleWriteMessageComplete. In the meantime, the method async_write must not be called. This is not prevented and can lead to an error.

Today, we tested this bug, and figure out some regularity:
1) If we request a few history - about 5 minutes, we receive response with Text opcode and updates history correctly.
2) If we request a lot of history - about an hour, wireshark register a response with continued opcode and after a lot of frames with binary, unknown opcodes. Our websocket client catch a symbol not utf8 and send to server request to close connection.

I guess, that webserver divide a big message and do in not correctly. The chanks of message should have  continued  opcode, if the playload more then 127 bytes, but infact the chunks have a various opcodes.

> The Wireshark dump can not be accessed publicly.
> 
> Guess:
> Several packets are sent at the same time (https://github.com/ASNeG/OpcUaWebServer/blob/master/src/OpcUaWebServer/WebSocket/WebSocketServerBase.cpp#L829).
> 
> The method async_write is called and the completion is confirmed by the method handleWriteMessageComplete. In the meantime, the method async_write must not be called. This is not prevented and can lead to an error.

Reference to the Wireshark dump
https://cloud.nefteavtomatika.ru/index.php/s/jieyZgmq8M57D9R
Password: 123456

In the Wireshark Dump a wrong packet is received. There are two responses in a package. The second response begins before the first response ends. In another test, a response has been received several times.

![grafik](https://user-images.githubusercontent.com/43249311/68070915-def2d280-fd74-11e9-877e-a85f38e428ff.png)


Hi @huebl, does problem boils down to this: https://stackoverflow.com/questions/7362894/boostasiosocket-thread-safety
Because of client async response?

Hi @Phoenixreturn, that's right.

I have integrated a send queue into the source code. A first version is here. It still has to be tested.

https://github.com/ASNeG/OpcUaWebServer/tree/50_add_read_and_write_sync

Hi, @huebl.

I'm not sure, but as I can see, you SendQueue class wrong. Please review next funcitons: enqueue and dequeue. And why you used double-linked list instead of  just linked list? It's  overcomplicate problem.
Secondly, in class WebSocketServerBase when queue is not empty and function handleWriteMessageComplete calls sendMessage on queue entry we get into recursive situation. Because we get out entry from queueu and again put into it.

Thank you for your work

I think I fixed it. What should I do to show my corrections? Create new branch?

Yes, you can create a new branch. I can merge this into my work branch.

Thanks

Please, make a review

https://github.com/ASNeG/OpcUaWebServer/pull/55

Do the errors described in this issue still occur?. If not, the issue can be closed.

You definitely can close this issue.